<header class="sticky-top">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg"
        aria-label="Global navigation - With title and nav-under example">
        <div class="container-xxl">
            <div class="navbar-brand me-auto">
                <a class="stretched-link" href="#">
                    <img src="../../../assets/imgs/orange-logo.svg" width="50" height="50" alt="Boosted - Back to Home"
                        loading="lazy">
                </a>
                <h1 class="title">Rating App</h1>
            </div>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target=".global-header-3-1" aria-controls="global-header-3-1.1 global-header-3-1.2"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>