<div class="text-bg-dark position-relative">
    <div class="container-xxl position-relative z-1 py-5">
        <div class="row">
            <div class="col-12 col-lg-6 py-2 bg-dark">
                <h2 class="pt-1 pt-md-3 mb-2 mb-md-3 display-2 text-primary">Hello Customer,</h2>
                <p class="pt-1 mb-2 display-2">You can now choose from our offered variety rate products that
                    fulfill your needs</p>
                <p class="ll-sm pt-1 pt-md-3 mb-3 mb-md-4 fw-bold">Search by your ID now to explore all the available
                    products and pick your best match</p>
            </div>
            <div class="col-12 col-lg-6 out-of-grid h-100 end-0 overflow-hidden">
                <img loading="lazy" class="h-100 object-fit-cover" alt="" src="../../assets/imgs/landing-img.svg">
            </div>
        </div>
    </div>
</div>
<div class="text-bg-dark position-relative">
    <div class="container-xxl position-relative z-1">
        <div class="row">
            <div class="col-12 py-4 bg-dark">
                <div class="input-group dimiss-result">
                    <input class="form-control form-control-lg bg-transparent text-white border border-2 border-white"
                        type="search" placeholder="Search Your ID" aria-label="Search" [(ngModel)]="searchId"
                        (keydown.enter)="onClickSearch()" />
                    <button class="btn btn-dark btn-lg custom-btn" type="button" id="button-addon2"
                        (click)="onClickSearch()">
                        <em class="icon-search"></em>
                    </button>
                    <!-- show after search to clear search result -->
                    <!-- <button class="btn btn-lg custom-btn dimiss-result-icon" type="button" id="button-addon2">
                        <img src="../../assets/imgs/delete-icon.svg">
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div #results id="results" class="container-xxl position-relative z-1">
    <div *ngIf="productList.length !== 0">
        <div class="row">
            <div class="col-12">
                <h2 class="mt-4">
                    Subscribed Products
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3" *ngFor="let item of productList">
                <div class="card mb-3">
                    <div class="bd-placeholder-img card-img-top" width="100%" height="170">
                        <img src="../../assets/imgs/default-img.png" class="img-fluid img-thumbnail" alt="...">
                    </div>
                    <div class="card-body text-black bg-body">
                        <h4 class="card-title">{{item.product.productOffering.name}}</h4>
                        <p class="card-text fw-bold text-muted mb-3">{{item.product.description}}</p>
                        <p class="fs-3 text-primary fw-bold">
                            € {{item.product.productPrice.price.value}}
                        </p>
                        <p class="card-text fw-bold text-muted mb-3">{{item.product.productPrice.description}}</p>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-secondary" aria-label="Link description" title="Link description"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Use Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Success Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title h6" id="exampleModal2Label">
                    <img src="../../assets/imgs/success-icon.svg" width="30" height="30" alt="..." class="me-2">
                    You are authorized to use the product
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-title="Close"><span class="visually-hidden">Close</span></button>
            </div>
            <div class="border-top border-light my-3"></div>
            <div class="modal-body">
                <h4>
                    Billing Information
                </h4>
                <div class="row g-0">
                    <div class="col-8">
                        <h6 class="mb-2">
                            Subscribed Product Title
                        </h6>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing eli, Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                        </p>
                        <p class="fs-2 text-primary fw-bold mb-0">
                            € 9.99
                        </p>
                    </div>
                    <div class="col-4">
                        <img src="../../assets/imgs/disney-plus-thumbnail.png" width="120" height="120" alt="..."
                            class="float-end">
                    </div>
                </div>
                <h6 class="mb-2 mt-3">
                    Comment
                </h6>
                <p class="text-muted">
                    You watched 9/10 movies , if you watched one more movie you will take 10%
                    discount on your next product.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Error Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title h6" id="exampleModal2Label">
                    <img src="../../assets/imgs/error-icon.svg" width="30" height="30" alt="..." class="me-2">
                    You are not authorized to use the product
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" data-bs-title="Close"><span class="visually-hidden">Close</span></button>
            </div>
            <div class="border-top border-light my-3"></div>
            <div class="modal-body">
                <h4>
                    Billing Information
                </h4>
                <div class="row g-0">
                    <div class="col-8">
                        <h6 class="mb-2">
                            Subscribed Product Title
                        </h6>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing eli, Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                        </p>
                        <p class="fs-2 text-primary fw-bold mb-0">
                            € 9.99
                        </p>
                    </div>
                    <div class="col-4">
                        <img src="../../assets/imgs/disney-plus-thumbnail.png" width="120" height="120" alt="..."
                            class="float-end">
                    </div>
                </div>
                <h6 class="mb-2 mt-3">
                    Comment
                </h6>
                <p class="text-muted">
                    You have no sufficient balance.
                </p>
            </div>
        </div>
    </div>
</div>